* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  color: black;
}

.landing-right { 
  background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
  height: 100vh;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
}


li {
  font-size: 20px;
}


.sub-title { 
  color: #376e6f;
}


/* #2e151b  */